.headerBg {
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 3px 6px rgba(153, 167, 180, .0588235294);
  background: #fff;
}

.logo {
  width: 50%;
  cursor: pointer;
}

.logoTextx {
  color: #fff;
  font-weight: 700;
  margin-bottom: 0;
  cursor: pointer;
}

.welcomeText {
  justify-content: end;
  align-items: center;
  display: flex;
}

.headTop {
  font-size: 14px;
  padding-top: 2px;
  cursor: pointer;
  margin-left: 10px;
}

.profileIcon {
  padding-left: 35px !important;
  color: #000 !important;
  line-height: 40px;
  position: relative;
}

.profileIcon:before {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 5px;
  left: 0;
  content: "";
  background: url(/assets/images/profile.svg) no-repeat;
  background-size: cover;
}

.profileIcon:after {
  display: none;
}

.notifyIcon {
  width: 25px;
  cursor: pointer;
  margin-left: 8px;
}