<div class="row headerBg">
    <div class="col-md-3">
        <!-- <img class="logo" routerLink="/dashboard" src="assets/images/etp.png" alt="Logo"> -->
        <h1 role="heading" aria-level="1" class="logoText" routerLink="/dashboard">ETP</h1>
    </div>
    <div class="col-md-4 ms-auto welcomeText">
        <div><img class="notifyIcon" src="assets/images/email-icon.svg" alt="mail"></div>
        <div><img class="notifyIcon" src="assets/images/notification-bell.svg" alt="notification"></div>
        <div class="headTop">
            <div class="profileIcon"><span>Welcome ETP</span></div>
        </div>
    </div>
</div>