.headingTab {
  display: flex;
  align-items: center;
}

.cmnBtn {
  width: auto;
}

:host ::ng-deep .mat-mdc-table thead th {
  background-color: #ebedee;
  color: #0a5bab;
  font-weight: bold;
}

.mat-elevation-z8 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: none;
}

.mat-mdc-header-row,
.mat-mdc-row {
  height: 45px;
}

.menuIcon {
  width: 20px;
}