<h1 mat-dialog-title>Create {{ title }} Platforms</h1>
<div mat-dialog-content>
    <div class="row m-auto">
        <div class="col-8">
            <div class="form-group">
                <label>Platform Code</label>
                <input type="text" class="form-control" placeholder="Enter Platform Code" />
            </div>
            <div class="form-group">
                <label>Platform Name</label>
                <input type="text" class="form-control" placeholder="Enter Platform Name" />
            </div>
            <div class="form-group">
                <label>Environments</label>
                <mat-form-field class="select-field">
                    <mat-select [(ngModel)]="envSelected" name="env">
                        <mat-option *ngFor="let env of envOptions" [value]="env.value">
                            {{env.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group">
                <label>AlTs</label>
                <mat-form-field class="select-field">
                    <mat-select [(ngModel)]="altsSelected" name="env">
                        <mat-option *ngFor="let env of envOptions" [value]="env.value">
                            {{env.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<mat-dialog-actions align="center">
    <button class="cmnBtn saveBtn" mat-dialog-close>Save</button>
    <button class="cmnBtn cancelBtn" mat-dialog-close>Cancel</button>
</mat-dialog-actions>