<div class="row menuBg">
    <div class="col-md-12 p-0">


        <mat-accordion displayMode="flat">
            <mat-expansion-panel class="tab_pannel" *ngFor="let menuItem of filteredGeneralMenu; let i = index">

                <mat-expansion-panel-header class="menuList">
                    <mat-panel-title role="listbox" routerLinkActive="active" routerLink={{menuItem.itemURL}}>
                        <img class="menuIcon" src={{menuItem.iconUrl}} alt="user">
                        {{menuItem.itemName}}
                    </mat-panel-title>
                </mat-expansion-panel-header>


                <div class="card-body">
                    <div *ngFor="let subItem of menuItem.subItem; let i = index">
                        <div class="subMenu" routerLinkActive="active" routerLink={{subItem.subItemURL}}>
                            {{subItem.subItemName}}</div>
                    </div>
                </div>

            </mat-expansion-panel>
        </mat-accordion>



        <!-- <ng-container *ngFor="let menuItem of filteredGeneralMenu; let i = index">
            <div role="listbox" class="menuList" routerLinkActive="active" routerLink={{menuItem.itemURL}}>
                <img class="menuIcon" src={{menuItem.iconUrl}} alt="user">
                {{menuItem.itemName}}
            </div>
        </ng-container> -->


    </div>

</div>