.menuBg {
  background: #fff;
  height: 100vh;
}

.menuList {
  color: black;
  cursor: pointer;
  border-radius: 0 80px 80px 0;
  height: 63px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
  font-size: 16px;
  cursor: pointer;
  border-left: 4px solid transparent;
  transition: .3s;
}

.menuList:hover,
.menuList.active {
  color: #000;
  border-color: #0080ff;
  background-color: #dcecf5;
}

.menuIcon {
  width: 25px;
  margin-right: 8px;
}

@media all and (max-width: 768px) {
  .menuBg {
    height: auto;
  }
}