<div class="row m-auto cmnBox">
    <div class="col-md-7 headingTab">
        <h2>Dashboard</h2>
    </div>
</div>

<div class="clearRow mb-3"></div>

<div class="row m-auto">
    <div class="col-md-4 ps-0">
        <div class="summeryMain">
            <h2>20</h2>
            <h3>Platforms</h3>
        </div>
    </div>

    <div class="col-md-4">
        <div class="summeryMain">
            <h2>20</h2>
            <h3>Environments</h3>
        </div>
    </div>

    <div class="col-md-4 pe-0">
        <div class="summeryMain">
            <h2>20</h2>
            <h3>AIT's</h3>
        </div>
    </div>
</div>